extends adminLayout 

block content
    .inner
        h2= title
        table.table1 
            thead 
                td Fotoğraf 
                td İsim
                td Yorum
                td Puan
                td Mekan
                td İşlem
                td Zaman
            each review, i in reviews 
                tr() 
                    td: img.avatar(src=review.author.gravatar + '&d=retro') 
                    td= review.author.name
                    td= review.text
                    td= review.rating
                    td= review.store
                        //a(href=`/stores/${user._id}/edit`)
                            input.button(type="submit" value="Düzenle →")
                    td
                        form.isActive(method="GET" action=`/admin/${review._id}/setReview`)
                            .tag.tag__choice 
                                input(
                                type="checkbox" 
                                id="isActive" 
                                value="Aktif" name="isActive"
                                checked=review.isActive
                                )
                                label(for="isActive") Onaylı
                    td= h.moment(review.created).fromNow()